### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

!/SecondWeek/
!/cmake-build-debug/
!/.gitignore
/SecondWeek/A+BProblem.cpp
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-f71b1cbfad4433d68611.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-09-19T03-17-51-0235.json
/SecondWeek/maxPower.cpp
/cmake-build-debug/CMakeFiles/maxPower.dir/SecondWeek/maxPower.cpp.obj
/cmake-build-debug/maxPower.exe
/SecondWeek/StandInQueue.cpp
/cmake-build-debug/.cmake/api/v1/reply/target-A+BProblem-Debug-b930b56b907fc19ff27d.json
/cmake-build-debug/.cmake/api/v1/reply/target-maxPower-Debug-70ab5c1a5474cb1e4c3d.json
/cmake-build-debug/.cmake/api/v1/reply/target-StandInQueue-Debug-e8e80ac3e0183fac2075.json
/cmake-build-debug/.cmake/api/v1/reply/target-test-Debug-4c3204defe8679153184.json
/SecondWeek/test.cpp
/cmake-build-debug/CMakeFiles/test.dir/SecondWeek/test.cpp.obj
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-14251db5785a467d91b7.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-09-23T08-12-06-0666.json
/cmake-build-debug/.cmake/api/v1/reply/target-A+BProblem-Debug-f1dd579c47a760828a04.json
/cmake-build-debug/.cmake/api/v1/reply/target-chess-Debug-ec3c0c7a949e4277acbd.json
/cmake-build-debug/.cmake/api/v1/reply/target-combineArr-Debug-e444bff714d5b218ebb6.json
/cmake-build-debug/.cmake/api/v1/reply/target-factorial-Debug-dee936b215c07488f112.json
/cmake-build-debug/.cmake/api/v1/reply/target-matrixMultiple-Debug-bd29f5a616d60926a3ba.json
/cmake-build-debug/.cmake/api/v1/reply/target-maxPower-Debug-2291711b7cd8900132cf.json
/cmake-build-debug/.cmake/api/v1/reply/target-MXRCompetition-Debug-cf87e58865ac4e978000.json
/cmake-build-debug/.cmake/api/v1/reply/target-NoRepeatString-Debug-0f655b1cb8679f00460d.json
/cmake-build-debug/.cmake/api/v1/reply/target-powerOf2-Debug-a27874c91c012579ea43.json
/cmake-build-debug/.cmake/api/v1/reply/target-simplifyString-Debug-1c72c7f311fd57e59626.json
/cmake-build-debug/.cmake/api/v1/reply/target-StandInQueue-Debug-505b2f633303e66d86f8.json
/cmake-build-debug/.cmake/api/v1/reply/target-test-Debug-e2dee830b5ff628d9147.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-09-24T13-13-56-0802.json
/cmake-build-debug/CMakeFiles/simplifyString.dir/thirdweek/simplifyString.cpp.obj
/cmake-build-debug/simplifyString.exe
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-50b1c737697f0be55bb0.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-09-25T08-51-31-0096.json
/cmake-build-debug/.cmake/api/v1/reply/target-question1-Debug-9de0716ee51ec33b9344.json
/cmake-build-debug/.cmake/api/v1/reply/target-question2-Debug-40ce4fb357a6e5aed7e4.json
/cmake-build-debug/.cmake/api/v1/reply/target-question4-Debug-6a140bc398e9784a453f.json
/thirdweek/test03.cpp
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8ed00c62ce489df385ca.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-09-28T10-50-14-0556.json
/cmake-build-debug/.cmake/api/v1/reply/target-Question1-Debug-6a09ff4b1a235e41d93e.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-68f87d72f61e7a5a72b1.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-10-07T09-01-30-0026.json
/cmake-build-debug/.cmake/api/v1/reply/target-Question2-Debug-3d9cb4d9c4049f9b0f97.json

*.exe
*.obj
